:root {
  --background-color: #020113;
  --secondary-color: #040227;
  --border-color: #fff;
  --font-color: #000;
  --news-section-height: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

body {
  background-color: var(--background-color);
  color: #fff;
}

.app-container {
  height: calc(100vh - var(--news-section-height));
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.app-container > div {
  border: 1px solid var(--border-color);
}

.clicker-section {
  background-color: var(--secondary-color);
  opacity: 0.95;
  grid-row: 1 / span 10;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.clicker-section .reward-per-click {
  margin-bottom: 2rem;
}

.clicker-section button {
  width: 10rem;
  height: 10rem;
  font-size: 2rem;
}

.btc-canvas {
  max-width: 20rem !important;
  max-height: 20rem !important;
}

.items {
  background-color: var(--secondary-color);
  width: 100%;
  grid-row: 2 / span 11;
  grid-column: 2 / span 2;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 13rem;
  max-width: 11.5vw;
  margin: 0.2rem;
  border: 1px solid var(--border-color);
  padding: 0.4rem;
  font-size: 0.8rem;
}

.item-image {
  height: 50%;
  border: 1px solid var(--border-color);
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.item-info p {
  font-size: 0.7rem;
}

.item-buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.item-buy button {
  height: 2rem;
}

.store {
  background-color: var(--secondary-color);
  display: grid;
  justify-content: center;
  grid-row: 1 / span 12;
  grid-column: 4 / span 2;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
}

.store::-webkit-scrollbar {
  display: none;
}

.score {
  background-color: var(--secondary-color);
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 11 / span 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
}

.nft-items {
  background-color: var(--secondary-color);
  grid-row: 3 / span 2;
  grid-column: 4 / span 2;
  width: 100%;
}

.level-items {
  background-color: var(--secondary-color);
  position: relative;
  grid-column: 2 / span 2;
  width: 100%;
}

.bought-item-container {
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  margin: 0.3rem;
  padding: 0.5rem;
}

.news {
  height: var(--news-section-height);
  border-top: 1px solid var(--border-color);
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
}

.item-canvas {
  max-width: 18rem;
}

.energy-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}
