:root {
  --background-color: #020113;
  --secondary-color: #040227;
  --border-color: #fff;
  --font-color: #000;
  --news-section-height: 2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #fff;
}

.app-container {
  width: 100vw;
  height: calc(100vh - var(--news-section-height));
  padding: 0.5rem;
  display: grid;
  grid-template-areas: 
      "a b b c c"
      "a b b c c"
      "a b b e e"
      "d f f e e";
}

.app-container > div {
  border: 1px solid var(--border-color);
}

.clicker-section {
  background-color: var(--secondary-color);
  opacity: 0.95;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: a;
  margin: 0.5rem;
}

.clicker-section .reward-per-click {
  margin-bottom: 2rem;
}

.clicker-section button {
  width: 10rem;
  height: 10rem;
  font-size: 2rem;
}

.btc-canvas {
  max-width: 20rem !important;
  max-height: 20rem !important;
}

.items {
  background-color: var(--secondary-color);
  grid-area: b;
  margin: 0.5rem;
}

.item {
  display: flex;
  margin: 0.5rem;
  height: 5rem;
  border: 1px solid var(--border-color);
  justify-content: space-between;
  padding: 0.4rem;
}

.item-details {
  display: flex;
}

.item-image {
  height: 100%;
  width: 4.2rem;
  border: 1px solid var(--border-color);
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.item-info p {
  font-size: 0.75rem;
}

.item-buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.75rem;
}

.item-buy button {
  height: 2rem;
}

.store {
  background-color: var(--secondary-color);
  grid-area: c;
  margin: 0.5rem;
}

.score {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  grid-area: d;
  margin: 0.5rem;
}

.nft-items {
  background-color: var(--secondary-color);
  grid-area: e;
  margin: 0.5rem;
}

.level-items {
  background-color: var(--secondary-color);
  grid-area: f;
  margin: 0.5rem;
}

.bought-item-container{
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  margin: 0.3rem;
  padding: 0.5rem;
}

.news {
  height: var(--news-section-height);
  border-top: 1px solid var(--border-color);
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  /* line-height: 20px; */
  font-size: 1.2rem;
}

